openapi: 3.1.0
info:
  title: api Authenticate.json Guilds.json API
  version: '2.0'
servers:
- url: https://api.kongregate.com/api
security:
- {}
tags:
- name: Guilds.json
paths:
  /guilds.json:
    post:
      summary: Guilds - Create
      description: Creates/updates a guild definition
      operationId: server-api-create-guild
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - api_key
              - guild_identifier
              - guild_name
              properties:
                api_key:
                  type: string
                  description: Your private API key
                guild_identifier:
                  type: string
                  description: Unique (per-server) identifier for the guild
                guild_name:
                  type: string
                  description: Display name for the guild
                server_identifier:
                  type: string
                  description: The unique identifier for the server
                  default: Default
                server_name:
                  type: string
                  description: The display name for the server
                  default: Default
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"success\": true,\n  \"server_identifier\": \"101\",\n  \"guild_identifier\": \"234\"\n}"
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    default: true
                  server_identifier:
                    type: string
                    example: '101'
                  guild_identifier:
                    type: string
                    example: '234'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl -XPOST -H \"Content-type: application/json\" -d '{\n  \"api_key\": \"GAMEAPIKEY\",\n  \"server_identifier\": \"101\",\n  \"server_name\": \"Gotham01\",\n  \"guild_identifier\": \"234\",\n  \"guild_name\": \"JusticeLeague\"\n}' 'https://api.kongregate.com/api/guilds.json'"
          name: Create a Guild
        samples-languages:
        - curl
      tags:
      - Guilds.json
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
